@use "sass:color";

$cor-texto: #3498db;
$cor-fundo: #fff;
$font: 'Arial', 'Helvitica', 'sans-serif';
$padding: 15px;
$header-color: #3caf50;
$header-cor-texto: #fff;

body{
    font-family: $font;
    color: $cor-texto;
    margin: 0;
}

header{ 
    background-color: $header-color;
    color: $header-cor-texto;
    padding: $padding;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main{
    padding: $padding;
    text-align: center;
}

button{
    background-color: $header-color;
    color: $header-cor-texto;
    border: none;
    padding: $padding;
    cursor: pointer;
    transform: background-color 0.3s ease;

    &:hover{
        background-color: color.adjust($header-color,  $lightness: -10%);
    }
}

footer{
    text-align: center;
    padding: $padding;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0px;
    width: calc(100vw - $padding * 2);

}